
/*** ESSENTIAL STYLES ***/
.menu, .menu * 
{
    /*background-color: #ffffff;*/
	margin:			0;
	padding:		0;
	list-style:		none;
}/*
.menu {
	line-height:	1.0;
}*/
.menu ul 
{
    left:100%;
    padding-bottom: 3px;
	position:		absolute;
	top:			-999em;
	width:			100%; /* left offset of submenus need to match (see below) */
}
/*
.menu ul li {
	width:			100%;
}
.menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' 
}*/
.menu li {
	float:			left;
	position:		relative;
}
.menu a {
	display:		block;
	position:		relative;
}
.menu li:hover ul,
.menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.menu li:hover li ul,
ul.menu li.sfHover li ul {
	top:			-999em;
}/*
ul.menu li li:hover ul,
ul.menu li li.sfHover ul {
	left:			10em; /* match ul width
	top:			0;
}*/
ul.menu li li:hover li ul,
ul.menu li li.sfHover li ul {
	top:			-999em;
}
ul.menu li li li:hover ul,
ul.menu li li li.sfHover ul {
	left:			-10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
/*.menu {
	float:			left;
	margin-bottom:	1em;
}*/
.menu a {
	/*border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;*/
	padding: 		10px 8px 10px 8px;
	text-decoration:none;
}

.topNavRoundLeft
{
    display:none;
}
.topNavRoundRight
{
    display:none;
}
/*
.menu a, .menu a:visited  { /* visited pseudo selector so IE6 applies text colour
	color:			#13a;
}
.menu li {
	background:		#275937;
}
.menu li li {
	background:		#275937;
}
.menu li li li {
	background:		#275937;
}
.menu li:hover, .menu li.sfHover,
.menu a:focus, .menu a:hover, .menu a:active {
	background:		#275937;
	outline:		0;
}

*/
/*** arrows **/
/*.menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately 
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only 
}*/
/*a > .sf-sub-indicator {  /* give all except IE6 the correct values 
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers
}*/
/* apply hovers to modern browsers */
/*a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers
}*/

/* point right for anchors in subs */
/*.menu ul .sf-sub-indicator { background-position:  -10px 0; }
.menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers 
.menu ul a:focus > .sf-sub-indicator,
.menu ul a:hover > .sf-sub-indicator,
.menu ul a:active > .sf-sub-indicator,
.menu ul li:hover > a > .sf-sub-indicator,
.menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers
}*/

/*** shadows for all but IE6 ***/
/*.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}*/

/*
.menu 
{
    height: 40px;
    background-image:url("/Style%20Library/Images/gm_Navbar_Default.jpg");
    background-repeat: repeat-x;
}
.menu a
{
    color: #275937;
    font-family: tahoma;   
    height: 22px;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    display: block; 
    font-size: 1em;
}*/

.topNavContainer{
    position:relative;
    z-index:2;
}

div.mainContainer{
    z-index:1;
}

ul.nivel4UL{
left:100% !important;
margin-top:0px !important;
}

