
/*** adding the class menu in addition to menu creates an all-horizontal nav-bar menu ***/
.menu {
	/*height:			2.5em;*/
	padding-bottom:	2.5em;
	position:		relative;
	width:          1000px;
	height: 27px !important;
	background-color: #A5ACAC /*#a5acaf*/ !important;
	margin-bottom: 10px;
}
.div-menu
{
    background-color: #EFEFEF !important; 
    height: 38px !important;   
	width:          1000px;
}
.menu li {
	position:		static;	    
}
.menu a {
	font-size:      10pt;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	color:#275937;
	background-color: #EFEFEF; /*#EEEEE0;*/
	border-left-color: #C0C0C0;
	border-right-color: #C0C0C0;
}
.menu li ul a {
	font-size:      8pt;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	color:#275937;
	background-color: #A5ACAC; /*#a5acaf;*/
	border-left-color: #C0C0C0;
	border-right-color: #C0C0C0;
}
.menu li ul {
	width:			100%; /*IE6 soils itself without this */	
	margin-top: -7px;
}
.menu li li {
	position:		relative;
}
.menu li li ul {
	width: 	        10em;
}
.menu li li li {
	width:			100%;
}
.menu ul li {
	width:			auto;
	float:			left;
}
.menu a, .menu a:visited {
	border:			none;
}/*
.menu li.current,
.menu li li.current,
.menu li li.current li.current
{
	font-weight: bold;
}
*/
.menu li li li a
{
    font-size:      8pt;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	color:White;
	background-color: #3D7411; /*#275937;*/
	border-left-color: #C0C0C0;
	border-right-color: #C0C0C0;  
}
.menu li.current > a,
.menu li li.current > a
{
    color:White;
	/*font-weight: bold;*/
	background-color: #5E6A71;
}
.menu li:hover,
.menu li.sfHover,
.menu a:focus, .menu a:hover, .menu a:active {
	/*background:		#C0C0C0;*/
	/*background-color:#C0C0C0;*/
	/*background:#d1d4d3;*/	
	background-color: #3D7411; /*#275937;*/
	color:White;
}
.menu ul li:hover,
.menu ul li.sfHover,
ul.menu ul li:hover li,
ul.menu ul li.sfHover li,
.menu ul a:focus, .menu ul a:hover, .menu ul a:active {
	/*background-color:#C0C0C0;*/
	background-color: #3D7411; /*#275937;*/
	color:White;
}
.menu ul li {/*background-color: #CCCCCC;*/}
ul.menu li li li:hover,
ul.menu li li li.sfHover,
.menu ul li li a:focus, .menu ul li li a:hover, .menu ul li li a:active {
	/*background-color:#C0C0C0;*/
	background-color: #58A618; /*#58A618;*/
	color:White;
}
ul.menu .current ul,
ul.menu ul li:hover ul,
ul.menu ul li.sfHover ul {
	left:			0;
	top:			2.5em;  /*match top ul list item height */
}

ul.menu .current ul ul {
	top: 			-999em;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.menu ul .sf-sub-indicator { /*background-position: -10px -100px;*/ }
.menu ul a > .sf-sub-indicator { /*background-position: 0 -100px; */}
/* apply hovers to modern browsers */
.menu ul a:focus > .sf-sub-indicator,
.menu ul a:hover > .sf-sub-indicator,
.menu ul a:active > .sf-sub-indicator,
.menu ul li:hover > a > .sf-sub-indicator,
.menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers */
}

/*** remove shadow on first submenu ***/
.menu > li > ul {
	padding: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}
.nivel2UL
{
    background-color: #A5ACAC; /*#a5acaf;*/
    height: 30px;
    width:auto;
}

.current .nivel2UL
{
     z-index:2;
}

.nivel3UL{

    z-index:2;
}
.nivel3LI{

    z-index:10;
}

.nivel4UL{
left:100% !important;
}